[submodule "third_party/skiko"]
	path = third_party/skiko
	url = git@github.com:linux-compose-desktop-native/skiko.git
	branch = linux-native
[submodule "third_party/compose-multiplatform-core"]
	path = third_party/compose-multiplatform-core
	url = git@github.com:linux-compose-desktop-native/compose-multiplatform-core.git
	branch = linux-native
